.astra-widget-social-profiles-inner li > a {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .3em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.astra-widget-social-profiles-inner .icon {
    width: 1em;
   margin-right: 1em;
   -webkit-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.astra-widget-social-profiles-inner.inline li .icon {
   margin-right: .2em;
}
.astra-widget-social-profiles-inner.circle .icon {
   margin-right: .5em;
}
.astra-widget-social-profiles-inner .icon {
    vertical-align: middle;
}
.astra-widget-social-profiles-inner .link {
    margin-right: 0.5em;
}
/**
 * Inline
 */
.astra-widget-social-profiles-inner.inline li {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
}
.astra-widget-social-profiles-inner.circle-outline .icon,
.astra-widget-social-profiles-inner.circle .icon {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.astra-widget-social-profiles-inner.square-outline li .icon,
.astra-widget-social-profiles-inner.circle-outline li .icon {
    margin-right: .2em;
}
.astra-widget-social-profiles-inner.square-outline .icon,
.astra-widget-social-profiles-inner.circle-outline .icon,
.astra-widget-social-profiles-inner.square .icon,
.astra-widget-social-profiles-inner.circle .icon {
    height: 2em;
    width: 2em;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}
.astra-widget-social-profiles-inner ul li span {
    font-size: 15px;
    line-height: 2em;
}
.astra-widget-social-profiles-inner.circle .icon span,
.astra-widget-social-profiles-inner.circle-outline .icon span {
    line-height: 2em;
}
