.astra-widget-social-profiles-inner li > a {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.astra-widget-social-profiles-inner li > a .ast-widget-icon{
    margin-right: 0.3em;
}
.astra-widget-social-profiles-inner li > a{
    margin-bottom: .3em;
}
.astra-widget-social-profiles-inner.stack li > a {
    margin-right: 0;
}
.astra-widget-social-profiles-inner .ast-widget-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 1em;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.astra-widget-social-profiles-inner .ast-widget-icon svg{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}
.astra-widget-social-profiles-inner .ast-widget-icon {
    vertical-align: middle;
}
/**
 * Inline
 */
.astra-widget-social-profiles-inner.inline li {
    -js-display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
}
.astra-widget-social-profiles-inner.circle-outline .ast-widget-icon,
.astra-widget-social-profiles-inner.square-outline .ast-widget-icon{
    border-width: 1px;
    border-style: solid;
    border-color: #00000033;
}
.astra-widget-social-profiles-inner.circle-outline .ast-widget-icon,
.astra-widget-social-profiles-inner.circle .ast-widget-icon {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
/*.astra-widget-social-profiles-inner.square-outline li .ast-widget-icon,
.astra-widget-social-profiles-inner.circle-outline li .ast-widget-icon {
    margin-right: .2em;
}*/
.astra-widget-social-profiles-inner.square-outline .ast-widget-icon,
.astra-widget-social-profiles-inner.circle-outline .ast-widget-icon,
.astra-widget-social-profiles-inner.square .ast-widget-icon,
.astra-widget-social-profiles-inner.circle .ast-widget-icon {
    height: 2em;
    width: 2em;
    text-align: center;
    vertical-align: middle;
}
.astra-widget-social-profiles-inner .ast-widget-icon {
    font-size: 15px;
    line-height: 2;
}
.astra-widget-social-profiles-inner.circle .ast-widget-icon,
.astra-widget-social-profiles-inner.circle-outline .ast-widget-icon {
    line-height: 2;
}
.astra-widget-social-profiles .astra-widget-social-profiles-inner ul li a{
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.astra-widget-social-profiles-inner.circle-outline li .ast-widget-icon svg, .astra-widget-social-profiles-inner.circle-outline li .ast-widget-icon svg{
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.astra-widget-social-profiles-inner.square-outline li .ast-widget-icon:hover svg, .astra-widget-social-profiles-inner.circle-outline li .ast-widget-icon:hover svg {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}