.widget-address-field span {
  vertical-align: middle;
  margin-left: 5px;
}

.widget-address-inline .widget-address-field {
  display: inline-block;
}

.astra-widget-address address {
	margin: 0;
}
.astra-repeater-field title {
	line-height: 1.4em;
}
